 @{
    ViewBag.Title = "Circuiti";
    Layout = "~/Views/Layout/Layout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<h2>Circuiti</h2>
<div class="text-center"
<div class="table-responsive">
    <table class="table" cellspacing="30" cellpadding="10">
        <tr>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesMotoGp/Circuiti/bahrain.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP del Bahrain</h5>
                        <p class="card-text">Losail International Circuit</p>
                        <a href="#" class="btn btn-success">Clicca qui</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesMotoGp/Circuiti/bahrain.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP di Doha</h5>
                        <p class="card-text">Losail International Circuit</p>
                        <a href="#" class="btn btn-success">Clicca qui</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesMotoGp/Circuiti/portogallo.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP del Portogallo</h5>
                        <p class="card-text">Algarve International Circuit</p>
                        <a href="#" class="btn btn-success">Clicca qui</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesMotoGp/Circuiti/jerez.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP di Spagna</h5>
                        <p class="card-text">Circuito de Jerez - Angel Nieto</p>
                        <a href="#" class="btn btn-success">Clicca qui</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesMotoGp/Circuiti/francia.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP di Francia</h5>
                        <p class="card-text">Le Mans</p>
                        <a href="#" class="btn btn-success">Clicca qui</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesMotoGp/Circuiti/mugello.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP d'Italia</h5>
                        <p class="card-text">Autodromo Internazionale del Mugello</p>
                        <a href="#" class="btn btn-success">Clicca qui</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesMotoGp/Circuiti/catalunya.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP di Catalunya</h5>
                        <p class="card-text">Circuit de Barcelona-Catalunya</p>
                        <a href="#" class="btn btn-success">Clicca qui</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesMotoGp/Circuiti/germania.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP di Germania</h5>
                        <p class="card-text">Sachsenring</p>
                        <a href="#" class="btn btn-success">Clicca qui</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesMotoGp/Circuiti/olanda.png" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP d'Olanda</h5>
                        <p class="card-text">TT Circuit Assen</p>
                        <a href="#" class="btn btn-success">Clicca qui</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesMotoGp/Circuiti/finlandia.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP di Finlandia</h5>
                        <p class="card-text">KymiRing</p>
                        <a href="#" class="btn btn-success">Clicca qui</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesMotoGp/Circuiti/austria.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP d'Austria</h5>
                        <p class="card-text">Red Bull Ring - Spielberg</p>
                        <a href="#" class="btn btn-success">Clicca qui</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesMotoGp/Circuiti/inghilterra.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP d'Inghilterra</h5>
                        <p class="card-text">Silverstone Circuit</p>
                        <a href="#" class="btn btn-success">Clicca qui</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesMotoGp/Circuiti/aragon.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP di Aragon</h5>
                        <p class="card-text">MotorLand Aragón</p>
                        <a href="#" class="btn btn-success">Clicca qui</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesMotoGp/Circuiti/misano.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP di San Marino</h5>
                        <p class="card-text">Misano World Circuit Marco Simoncelli</p>
                        <a href="#" class="btn btn-success">Clicca qui</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesMotoGp/Circuiti/giappone.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP del Giappone</h5>
                        <p class="card-text">Twin Ring Motegi</p>
                        <a href="#" class="btn btn-success">Clicca qui</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesMotoGp/Circuiti/thailandia.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP di Thailandia</h5>
                        <p class="card-text">Chang International Circuit</p>
                        <a href="#" class="btn btn-success">Clicca qui</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesMotoGp/Circuiti/australia.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP d'Australia</h5>
                        <p class="card-text">Phillip Island</p>
                        <a href="#" class="btn btn-success">Clicca qui</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesMotoGp/Circuiti/malesia.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP di Malesia</h5>
                        <p class="card-text">Sepang International Circuit</p>
                        <a href="#" class="btn btn-success">Clicca qui</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesMotoGp/Circuiti/valencia.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP di Valencia</h5>
                        <p class="card-text">Circuit Ricardo Tormo</p>
                        <a href="#" class="btn btn-success">Clicca qui</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesMotoGp/Circuiti/argentina.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP d'Argentina</h5>
                        <p class="card-text">Termas de Río Hondo</p>
                        <a href="#" class="btn btn-success">Clicca qui</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesMotoGp/Circuiti/america.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP degli Stati Uniti</h5>
                        <p class="card-text">Circuit Of The Americas</p>
                        <a href="#" class="btn btn-success">Clicca qui</a>
                    </div>
                </div>
            </td>
        </tr>

    </table>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCE"></script>
