
@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Layout/Layout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .Disabled {
            pointer-events: none;
            cursor: not-allowed;
            opacity: 0.65;
            filter: alpha(opacity=65);
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    </style>
</head>
<h2>Team</h2>
<div class="text-center"
<div class="table-responsive">
    <table class="table" cellspacing="30" cellpadding="10">
        <tr>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesMotoGp/Teams/aprilia.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Aprilia Racing Team Gresini</h5>
                        <p class="card-text">Piloti e vetture</p>
                        <a href="#" class="btn btn-success Disabled">Prossimamente</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesMotoGp/Teams/ducati.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Ducati Lenovo Team</h5>
                        <p class="card-text">Piloti e vetture</p>
                        <a href="#" class="btn btn-success Disabled">Prossimamente</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesMotoGp/Teams/esponsorama.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Esponsorama Racing</h5>
                        <p class="card-text">Piloti e vetture</p>
                        <a href="#" class="btn btn-success Disabled">Prossimamente</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesMotoGp/Teams/LCR.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">LCR Honda</h5>
                        <p class="card-text">Piloti e vetture</p>
                        <a href="#" class="btn btn-success Disabled">Prossimamente</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesMotoGp/Teams/yamaha.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Monster Energy Yamaha MotoGP</h5>
                        <p class="card-text">Piloti e vetture</p>
                        <a href="#" class="btn btn-success Disabled">Prossimamente</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesMotoGp/Teams/petronas.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Petronas Yamaha SRT</h5>
                        <p class="card-text">Piloti e vetture</p>
                        <a href="#" class="btn btn-success Disabled">Prossimamente</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesMotoGp/Teams/pramac.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Pramac Racing</h5>
                        <p class="card-text">Piloti e vetture</p>
                        <a href="#" class="btn btn-success Disabled">Prossimamente</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesMotoGp/Teams/KTM.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Red Bull KTM Factory Racing</h5>
                        <p class="card-text">Piloti e vetture</p>
                        <a href="#" class="btn btn-success Disabled">Prossimamente</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesMotoGp/Teams/honda.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Repsol Honda Team</h5>
                        <p class="card-text">Piloti e vetture</p>
                        <a href="#" class="btn btn-success Disabled">Prossimamente</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesMotoGp/Teams/suzuki.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Team SUZUKI ECSTAR</h5>
                        <p class="card-text">Piloti e vetture</p>
                        <a href="#" class="btn btn-success Disabled">Prossimamente</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesMotoGp/Teams/tech3.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Tech 3 KTM Factory Racing</h5>
                        <p class="card-text">Piloti e vetture</p>
                        <a href="#" class="btn btn-success Disabled">Prossimamente</a>
                    </div>
                </div>
            </td>
        </tr>

    </table>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCE"></script>



