@{
    ViewBag.Title = "Circuiti";
    Layout = "~/Views/Layout/Layout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<h2>Circuiti</h2>
<div class="table-responsive">
    <table class="table" cellspacing="30" cellpadding="10">
        <tr>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesFormula1/Circuiti/bahrain.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP del Bahrain</h5>
                        <p class="card-text">Bahrain International Circuit</p>
                        <a href="#" class="btn btn-primary">Clicca qui</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesFormula1/Circuiti/imola.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP d'Emilia Romagna</h5>
                        <p class="card-text">Autodromo Enzo e Dino Ferrari</p>
                        <a href="#" class="btn btn-primary">Clicca qui</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesFormula1/Circuiti/portimao.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP del Portogallo</h5>
                        <p class="card-text">Autódromo Internacional do Algarve</p>
                        <a href="#" class="btn btn-primary">Clicca qui</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesFormula1/Circuiti/spagna.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP di Spagna</h5>
                        <p class="card-text">Circuito di Catalogna</p>
                        <a href="#" class="btn btn-primary">Clicca qui</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesFormula1/Circuiti/montecarlo.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP di Montecarlo</h5>
                        <p class="card-text">Circuito di Monte Carlo</p>
                        <a href="#" class="btn btn-primary">Clicca qui</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesFormula1/Circuiti/baku.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP d'Azerbaigian</h5>
                        <p class="card-text">Circuito di Baku</p>
                        <a href="#" class="btn btn-primary">Clicca qui</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesFormula1/Circuiti/montreal.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP del Canada</h5>
                        <p class="card-text">Circuito di Montréal</p>
                        <a href="#" class="btn btn-primary">Clicca qui</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesFormula1/Circuiti/francia.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP di francia</h5>
                        <p class="card-text">Circuito Paul Ricard</p>
                        <a href="#" class="btn btn-primary">Clicca qui</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesFormula1/Circuiti/austria.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP d'Austria</h5>
                        <p class="card-text">Red Bull Ring</p>
                        <a href="#" class="btn btn-primary">Clicca qui</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesFormula1/Circuiti/silverstone.png" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP di Gran Bretagna</h5>
                        <p class="card-text">Circuito di Silverstone</p>
                        <a href="#" class="btn btn-primary">Clicca qui</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesFormula1/Circuiti/hungaroring.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP d'Ungheria</h5>
                        <p class="card-text">Hungaroring</p>
                        <a href="#" class="btn btn-primary">Clicca qui</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesFormula1/Circuiti/spa.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP del Belgio</h5>
                        <p class="card-text">Circuit National de Francorchamps</p>
                        <a href="#" class="btn btn-primary">Clicca qui</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesFormula1/Circuiti/olanda.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP d'Olanda</h5>
                        <p class="card-text">Circuito di Zandvoort</p>
                        <a href="#" class="btn btn-primary">Clicca qui</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesFormula1/Circuiti/monza.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP d'Italia</h5>
                        <p class="card-text">Autodromo Nazionale Monza</p>
                        <a href="#" class="btn btn-primary">Clicca qui</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesFormula1/Circuiti/sochi.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP di Russia</h5>
                        <p class="card-text">Autodromo di Sochi</p>
                        <a href="#" class="btn btn-primary">Clicca qui</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesFormula1/Circuiti/singapore.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP di Singapore</h5>
                        <p class="card-text"> Singapore Street Circuit</p>
                        <a href="#" class="btn btn-primary">Clicca qui</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesFormula1/Circuiti/suzuka.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP del Giappone</h5>
                        <p class="card-text">Circuito di Suzuka</p>
                        <a href="#" class="btn btn-primary">Clicca qui</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesFormula1/Circuiti/usa.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP degli Stati Uniti</h5>
                        <p class="card-text">Circuito delle Americhe</p>
                        <a href="#" class="btn btn-primary">Clicca qui</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesFormula1/Circuiti/messico.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP del Messico</h5>
                        <p class="card-text">Autodromo Hermanos Rodríguez</p>
                        <a href="#" class="btn btn-primary">Clicca qui</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesFormula1/Circuiti/interlagos.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP di Brasile</h5>
                        <p class="card-text">Circuito di Interlagos</p>
                        <a href="#" class="btn btn-primary">Clicca qui</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesFormula1/Circuiti/melbuorne.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP d'Australia</h5>
                        <p class="card-text">Circuito Albert Park</p>
                        <a href="#" class="btn btn-primary">Clicca qui</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesFormula1/Circuiti/arabia saudita.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP d'Arabia Saudita</h5>
                        <p class="card-text">Jeddah Street Circuit</p>
                        <a href="#" class="btn btn-primary">Clicca qui</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Contents/imagesFormula1/Circuiti/yas marina.jpg" alt="Card image cap" height="200">
                    <div class="card-body">
                        <h5 class="card-title">GP di Abu Dhabi</h5>
                        <p class="card-text">Circuito di Yas Marina</p>
                        <a href="#" class="btn btn-primary">Clicca qui</a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCE"></script>
