
@{
    ViewBag.Title = "Formula1";
    Layout = "~/Views/Layout/Layout.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<h2>Formula 1</h2>

<table cellspacing="30" cellpadding="10" align="center">
    <tr>
        <td>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/Contents/imagesFormula1/Formula1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Formula 1</h5>
                    <p class="card-text">Classifiche</p>
                    <a href="@SideLine.Helpers.PathHelper.GetProdottoUrlFormula1(9)" class="btn btn-success">Clicca qui</a>
                </div>
            </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/Contents/imagesFormula1/TeamsFormula1.jpg" alt="Card image cap" width="400" height="285">
                <div class="card-body">
                    <h5 class="card-title">Team</h5>
                    <p class="card-text"></p><br />
                    <a href="/Formula1/Team" class="btn btn-success">Clicca qui</a>
                </div>
            </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/Contents/imagesFormula1/Circuiti.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Circuiti</h5>
                    <p class="card-text"></p><br />
                    <a href="/Formula1/Circuiti" class="btn btn-success">Clicca qui</a>
                </div>
            </div>
        </td>

</table>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCE"></script>

