
@{
    Layout = "~/Views/Layout/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <div class="text-center">
        <img src="/Contents/home.jpg" /><br /><br />
        <h2>Benvenuti su Sideline, qui puoi controllare le classifiche e i risultati degli sport più famosi al
        mondo</h2><br />
        <h3 >Registrati per vedere le notizie relative alla tua squadra preferita</h3>
    </div>
</body>
</html>